<div class='container mx-auto mt-5 col-md-10 mt-100'>
  <div class="header">
    <div class="title">Our Team</div>
  </div>
  <div class="row" style="justify-content: center">
    <div class="card col-md-3 mt-100">
      <div class="card-content">
        <div class="card-body p-0">
          <div class="profileImage"><img src="assets/images/kenji.jpeg"></div>
          <div class="card-title"> Korey Lo<br/> <small>Masters in Computer Science</small></div>
          <div class="card-subtitle">
            <p><small class="text-muted">Email: klo5@depaul.edu</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-3 mt-100">
      <div class="card-content">
        <div class="card-body p-0">
          <div class="profileImage"><img src="assets/images/x.png"></div>
          <div class="card-title"> Hongli Xue<br/> <small>Masters in Computer Science</small></div>
          <div class="card-subtitle">
            <p><small class="text-muted">Email: hxue2@depaul.edu </small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-3 mt-100">
      <div class="card-content">
        <div class="card-body p-0">
          <div class="profileImage"><img src="assets/images/ang li.jpg"></div>
          <div class="card-title">Ang Li<br/> <small>Masters in Computer Science</small></div>
          <div class="card-subtitle">
            <p><small class="text-muted">Email: ali36@depaul.edu</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="justify-content: center">
    <div class="card bottomRow col-md-3 mt-100">
      <div class="card-content">
        <div class="card-body p-0">
          <div class="profileImage"><img src="assets/images/justinPic.jpg"></div>
          <div class="card-title"> Justin Zhang<br/> <small></small></div>
          <div class="card-subtitle">
            <p><small class="text-muted">Email: jzhan146@depaul.edu</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card bottomRow col-md-3 mt-100">
      <div class="card-content">
        <div class="card-body p-0">
          <div class="profileImage"><img src="../../assets/images/puppy1.jpg"></div>
          <div class="card-title"> Hsin-Chen Huang<br/> <small></small></div>
          <div class="card-subtitle">
            <p><small class="text-muted">Email: hhuang48@depaul.edu </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
