<div class="container-fluid aboutContainer">
  <h1 class="team">Our Team</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img
            src="../../assets/images/mc.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Korey Lo</h5>
            <p>Computer Science</p>          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img
            src="../../assets/images/mc.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Lorem Ipsum</h5>
            <p>Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card">
          <img
            src="../../assets/images/mc.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Lorem Ipsum</h5>
            <p>Lorem Ipsum</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img
            src="../../assets/images/mc.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Lorem Ipsum</h5>
            <p>Lorem Ipsum</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img
            src="../../assets/images/mc.jpeg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Lorem Ipsum</h5>
            <p>Lorem Ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

