<div class="container mt-4">
  <div class="pt-4">
    <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2" type="text" placeholder="Search user id or name" aria-label="Search">
      <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    </div>
      <div class = user_list>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td><button type="button" class="btn btn-success">Manage</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td><button type="button" class="btn btn-success">Manage</button></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td><button type="button" class="btn btn-success">Manage</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
