<div class="container mt-4">
  <div class="pt-4">
    <form class="form-inline md-form mr-auto mb-4">
      <input class="form-control mr-sm-2" type="text" placeholder="Search user id or name" aria-label="Search">
      <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">EMAIL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" >
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
    </table>

  </div>
