a {
  font-size: 18px;
  color: #659DBD;
}

.describe {
  color: #659DBD;
  font-weight: bold;
}

td, li {
  border: none;
}


h3, h4, .fa-check {
  color: #659DBD;
}


img {
  float: left;
  width: 100px;
  height: 500px;
  object-fit: cover;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

.backBtn {
  cursor: pointer;
}

@media (max-width: 992px) {
  .carousel{
    margin-bottom: 20px;
  }
}
