.mat-form-field {
  font-size: 20px;
  width: 100%;
  margin-left: 30px;
}

table {
  width: 90%;
  margin-left: 30px;

}

.mat-column-select {
  overflow: initial;
}

.title {
  width: 40%;
}

.petType {
  width: 15%;
}

.author {
  width: 20%;
}

.date {
  width: 15%;
}

/*td, th {*/
/*  width: 25%;*/
/*}*/

@media (max-width: 992px) {
  .btnGreen{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
