
<div class="container-fluid pt-4 pl-0 pr-0 pt-4">
  <div class="row blogSearch">
    <!-- Search bars area -->
    <div class="col-2 searchOption">
      <select class="form-control">
        <option>General</option>
        <option>Dogs</option>
        <option>Cats</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-10 searchBar">
      <!-- Search form -->
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>

  </div>
  <!-- Search Results Area -->

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-title text-center">
          How to Teach a Dog Tricks
        </div>
        <div class="card-text">
        </div>
      </div>
    </div>
  </div>
</div>
