<app-blog-table></app-blog-table>
<!-- Search Results Area -->

<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <div class="card">-->
<!--        <div class="card-title text-center">-->
<!--          How to Teach a Dog Tricks-->
<!--        </div>-->
<!--        <div class="card-text">-->
<!--          <ul *ngFor = "let blog of blogs; index as i">-->
<!--            <div class="row border-bottom">-->
<!--              <div class="col-6">-->
<!--                {{blog.title}}-->
<!--              </div>-->
<!--              <div class="col-3">-->
<!--                {{blog.petType}}-->
<!--              </div>-->
<!--              <div class="col-2">-->
<!--                {{blog.date}}-->
<!--              </div>-->
<!--              <button mat-button (click)="openDialog(i)">View Content</button>-->
<!--            </div>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
