
<div class="container-fluid pt-4 pl-0 pr-0 pt-4">
  <div class="row blogSearch">
    <!-- Search bars area -->
    <div class="col-2 searchOption">
      <select class="form-control">
        <option>General</option>
        <option>Dogs</option>
        <option>Cats</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-10 searchBar">
      <!-- Search form -->
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>

  </div>
  <!-- Search Results Area -->

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-title text-center">
          How to Teach a Dog Tricks
        </div>
        <div class="card-text">
          <ul *ngFor = "let blog of blogs">
            <div class="row border-bottom">
              <div class="col-6">
                {{blog.title}}
              </div>
              <div class="col-3">
                {{blog.petType}}
              </div>
              <div class="col-2">
                {{blog.date}}
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".content">Large modal</button>
<!--              <div class="modal">-->
<!--                <div class="modal-dialog">-->
<!--                  <div class="modal-content" style="white-space:pre-wrap">-->
<!--                    {{blog.content}}-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div class="modal fade content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" style="white-space:pre-wrap" >
                    {{blog.content}}
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
