<!-- Body content split into two sections one for search area other for search results -->
<div class="container-fluid">
  <div class="row">
    <!-- Search bars area -->
    <div class="col-lg-3 searchBar">
      <form #petForm="ngForm" (ngSubmit)="petForm.form.valid && onSubmit(petForm)">
        <div class="form-group">
          <label for="location">Location</label>
          <input
          pattern ='([0-9]{5})'
          type="text"
          placeholder="Zip Code"
          required
            class="form-control"
            id="location"
            name="location"
            #location=ngModel
            [(ngModel)]="model.location"
            [ngClass]="{ 'is-invalid': petForm.submitted && location.invalid }" required
          >
          <div class="textInvalid" *ngIf="location.errors?.required && !animals.length">
            Location is required!
          </div>
          <div class="textInvalid" *ngIf="location?.invalid && !animals.length">Must be 5 digits!</div>
        </div>
        <div class="form-group">
          <label for="distance">Distance</label>
          <select
            class="form-control"
            id="distance"
            name="distance"
            [(ngModel)]="model.distance"
          >
            <option value="10">10 miles</option>
            <option value="25">25 miles</option>
            <option value="50">50 miles</option>
            <option value="100">100 miles</option>
            <option value="500">Anywhere</option>
          </select>

        </div>
        <div class="form-group">
          <label for="breed">Breed</label>
          <select
            class="form-control"
            id="breed"
            name="breed"
            [(ngModel)]="model.breed"
          >
            <option value="">Any</option>
            <option *ngFor="let breed of breeds" [value]="breed.name">
              {{ breed.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="petAge">Age</label>
          <select
            class="form-control"
            id="petAge"
            name="age"
            [(ngModel)]="model.age"
          >
            <option value="">Any</option>
            <option *ngIf="href === '/dog-search'">Puppy</option>
            <option *ngIf="href === '/cat-search'" value="baby">Kitten</option>
            <option *ngIf="href === '/horse-search'">Foal</option>
            <option *ngIf="href === '/rabbit-search' || href === '/small-furry-search' || href === '/scales-fins-other-search' || href === '/bird-search' || href === '/barnyard-search'">Baby</option>
            <option>Young</option>
            <option>Adult</option>
            <option>Senior</option>
          </select>
        </div>
        <div class="form-group">
          <label for="petSize">Size</label>
          <select
            class="form-control"
            id="petSize"
            name="size"
            [(ngModel)]="model.size"
          >
            <option value="">Any</option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option>Extra Large</option>
          </select>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select
            class="form-control"
            id="gender"
            name="gender"
            [(ngModel)]="model.gender"
          >
            <option value="">Any</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="form-group submitBtn">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
      </form>
    </div>
    <!-- Search Results Area -->
    <div class="col-lg-9 displayResults">
      <div class="row">
        <h1 *ngIf="!animals.length">No Results Found! </h1>
        <div class="col-md-4 col-sm-6" *ngFor="let animal of animals | paginate: {
          id: 'listing_pagination',
          itemsPerPage: 20,
          currentPage: page,
          totalItems: totalPets
        }">
          <div class="card petBox" [routerLink]="['/animal', animal.type, animal.id]" routerLinkActive="active">
            <img
              src="{{animal.photos[0].medium}}" onerror="this.onerror=null;this.src='assets/images/notfound.png';"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">{{animal.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{animal.breeds.primary}}</li>
              <li class="list-group-item">{{animal.age}}</li>
              <li class="list-group-item">{{animal.gender}}</li>
              <li class="list-group-item">{{animal.contact.address.city}}, {{animal.contact.address.state}}</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<pagination-controls class="pagination justify-content-center" id="listing_pagination" maxSize=5  directionLinks="true" (pageChange)="pageChange($event)"></pagination-controls>
