.container-fluid {
  padding-top: 60px;
}

.form-group {
  text-align: center;
}

.displayResults {
  padding-left: 35px;
  padding-right: 35px;
}

.searchBar {
  padding-left: 30px;
  padding-right: 30px;
}

.petBox img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

/* Background color of boxes under pet images */
.card-body, .list-group-item {
  background-color: #fbeec1;
}

.card {
  margin-bottom: 10%;
}

.petBox {
  cursor: pointer;
}

.card-title {
  font-size: large;
  font-weight: bold;
}

.list-group-item {
  font-size: medium;
}

.textInvalid {
  color: red;
}

.submitBtn {
  padding-top: 15px;
}

@media (max-width: 992px) {
  .searchBar {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
  }
}
