
nav {
  width: 100%;
  height: 100%;
  background-color:#659DBD;
}

button{
  background-color: #4A7F9D;
  border: 1px solid white;
}

div {
  background-color:#659DBD;
}

.petquest{
  position: relative;
  top: -2px;
}

a {
  color: white;
}

.navbar-nav > .nav-item{
  height: 60px;
  line-height: 45px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav > .nav-item:hover{
  background-color: #4A7F9D;
  text-decoration: none;
}

.dropdown-toggle::after {
  display:none;
}

.dropdown:hover .dropdown-menu{
  display: block;
  margin-top: 0;
  background-color: #4A7F9D;
}


.dropdown .dropdown-menu {
  padding-top: 0;
  margin-top: -1px;
  padding-bottom: 0;
  border: 0px solid transparent;
  border-radius: 0;
}

.dropdown-menu a:hover{
  background-color: rgba(255, 255, 255, .2);
  color: white;
}

.dropdown-item{
  padding-left: 22px;
  font-size: 16px;
}

.left-menu{
  font-size: 18px;
}

.right-menu {
    font-size: 14px;
 }
