<div class="bg pb-4">
  <div class="container pb-4 mb-4">
    <h3 class="pt-4">Helping you find your new best friend</h3>
    <p class="word pb-4">from more than 1000 shelters</p>

    <div class="container shadow-lg small pb-4 pt-4 mt-4">
        <p class="text-center title">Shelters Or Rescues</p>
        <hr>
        <form class="pb-4 pl-4 pr-4">
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" placeholder="Enter City, State, or Zip">
          </div>

          <div class="form-group">
            <label for="distance">Distance</label>
            <select class="form-control">
              <option>35 Miles or less</option>
              <option>50 Miles or less</option>
              <option>75 Miles or less</option>
              <option>100 Miles or less</option>
            </select>
          </div>

          <div class="form-group">
            <label for="shelters">Shelters With</label>
            <select class="form-control">
              <option>Any</option>
              <option>Dogs</option>
              <option>Cats</option>
              <option>Other pets</option>
            </select>
          </div>
        </form>

        <div class="pl-4 pr-4 pb-3">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>

        </div>



    </div>
  </div>

</div>


