<div class="container-fluid bg">
    <div class="row">
      <div class="col-lg-6">
        <div class="left pb-4 pt-4">
          <p class="title">Welcome to PetQuest</p>
          <hr>
          <h4 class="intro">
            We help over than 1000 shelters, pet rescue groups, and pet adoption agencies advertise their homeless pets to millions of adopters a month, for free. We're all about getting homeless pets into homes.
          </h4>
        </div>
      </div>

      <div class="col-lg-6" *ngIf=isLogin>
        <div class="right pb-4 pt-4 shadow-lg">
          <h2 class="text-center">Login</h2>
          <form (submit)="onSubmit()">
            <div class="form-group mt-4 text-center">
              <button class="btn btn-primary google" button (click)="login()"><i class="fab fa-google"> </i> Sign in with GOOGLE</button>
            </div>
            <div *ngIf="auth.user | async as user; else showLogin">
              <h1>Hello {{ user.displayName }}!</h1>
              <button (click)="logout()">Logout</button>
            </div>
            <hr>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" [(ngModel)]="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required>
              <small id="emailHelp" class="form-text">Forget Password?</small>
            </div>

            <div *ngIf=isExisted class="form-group">
              <p class="alert"><i class="fas fa-exclamation-circle"> </i>
                Incorrect email address or password
              </p>
            </div>

            <div class="form-group mt-4">
              <button type="submit" class="btn btn-block btn-primary login">LOGIN</button>
            </div>
           <div class="form-group">
            <p class="text-center">Don't have account? <a routerLink="/register" routerLinkActive="active" href="#" id="signup">Sign up here</a></p>
           </div>
          </form>
        </div>
    </div>
  </div>

</div>
<app-about></app-about>



