.bg {
  background-image: url("../../assets/images/background.jpeg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


hr{
  background-color: whitesmoke;
}

.left{
  margin-top: 250px;
  width: 45%;
  border-radius: 20px;
  color: rgba(255, 255,255, .7);;
  margin-left: 25px;
}

.title{
  font-size: 28px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.intro {
  font-size: small;
}

.right{
  float: right;
  margin-top: 150px;
  margin-right: 25px;
  width: 50%;
  border-radius: 20px;
  color: white;
  background-color:rgba(255, 255,255, .2);
}

form {
  margin: 25px;
}

button{
  background-color: #659DBD;
  border: 1px solid #659DBD;
}

.alert{
  color: red;
}


