td > a:hover, .type:hover {
  color: #8D8741;
}

.custom-btn {
  width: 100px;
  background-color: #659DBD;
  border: 1px solid #659DBD;
}

.form-control {
  border: 1px solid #659DBD;
  color: #659DBD
}

.search-icon {
  border: 1px solid #659DBD;
  background-color: #659DBD;
  color: white;
}

.table-div, .table-div > a {
  border-radius: 10px;
  color: #659DBD;
  width: 98%;
  margin: 0 auto;
  font-size: 15px;
}

.table, th, td > a, .table-hover tbody tr:hover td {
  color: #659DBD;
}

.pet-img {
  width: 50px;
  height: 60px;
}

td {
  line-height: 50px;
}

.display-pet-type {
  padding-left: 40px;
}

.source > a {
  color: white;
  background-color: #659DBD;
  padding: 10px;
  border-radius: 3px;
}

.type {
  color: #659DBD;
}

.user {
  font-weight: bold;
  color: #659DBD;
  font-size: 18px;
}

.pet-table {
  padding-right: 50px;
}

.search-bar {
  margin-left: 0;
}

li {
  border: none;
}

h5 {
  font-size: medium;
}
