
.info {
  font-size: 28px;
  font-weight: bold;
  color: #659DBD;
}

label {
  color: #659DBD;
  font-weight: bold;

}


.btn {
  background-color: #659DBD;
  border: 1px solid #659DBD;
  width: 100%;
}

p {
  color: red;
}
